*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#homePage{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey);
}
.pageTitle p{
  position: relative;
  top: 50px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainTitle{
  color: gold;
  font-size: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu button{
  height: 50px;
  width: 125px;
  position: relative;
  top: 0px;
  text-align: center;
  background:linear-gradient(darkslategrey, rgb(78, 74, 74));
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.menu2 button{
  height: 50px;
  width: 125px;
  position: relative;
  top: 0px;
  text-align: center;
  background:linear-gradient(darkslategrey, rgb(78, 74, 74));
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.menu ul li{
  list-style: none;
  margin-left: 15px;
  display:inline-block;
  position: relative;
  left: 280px;
  top: 40px;
  cursor: pointer;
}

.menu2 ul li{
  list-style: none;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  left: 280px;
  top: 50px;
  cursor: pointer;
}
/* FONTS */

#fonts{
  height: 750px;
  width: 100%;
  background: linear-gradient(grey, black);
}
#font-title{
  position: absolute;
  top: 750px;
  left: 30px;
  font-size: 150px;
  color: gold;
}
.f_description{
  position:relative;
  top: 280px;
  left: 40px;
  height: 200px;
  width: 400px;
}
.f_description p{
text-align: justify;
padding: 8px 12px;
color:white;
font-size: 20px;
}
.font-types h1{
  font-size: 28px;
  color: gold;
  text-align: justify;
}
.font-types{
  position:relative;
  float:right;
  top: 80px;
  right: 100px;
  height: 400px;
  width: 500px;
}

#fontNum1{
color:white;
font-size: 24px;
font-family: 'Courier New', Courier, monospace;
}
#fontNum2{
color:white;
font-size: 24px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#fontNum3{
color:white;
font-size: 24px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#fontNum4{
color:white;
font-size: 24px;
font-family: "Press Start 2P", "Consolas", "San-Serif";
}
#fontNum5{
color:white;
font-size: 24px;
font-family: 'Lobster', 'cursive';
}

/* TEXT & BACKGROUND COLOR */

.txtBgColors{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey);
}
#txtBgColors-title{
  color: gold;
  text-align: center;
  font-size: 50px;
}
.txtBgColors div{
  position: relative;
  display:grid;
  float: left;
  top: 30px;
  left: 170px;
  margin-right: 30px;
}
.box1{
height: 250px;
width: 300px;
border: 2px crimson ridge;
color:lightsalmon;
padding: 8px 12px;
text-align: center;
}
.box2{
height: 250px;
width: 300px;
border: 2px crimson ridge;
color:lawngreen;
padding: 8px 12px;
text-align: center;
background-color:darkslateblue;
}
.box3{
height: 250px;
width: 300px;
border: 2px crimson ridge;
color:cyan;
padding: 8px 12px;
text-align: center;
background: linear-gradient(black, pink);
}
#box1-title{
  color: white;
}
#box2-title{
  color: white;
}
#box3-title{
  color: white;
}

/* BORDERS */

.borders{
  height: 650px;
  width: 100%;
  background: linear-gradient(grey, black);
}
.borders div{
  position: relative;
  display:grid;
  float: left;
  top: 50px;
  left: 70px;
  margin-right: 30px;
}
#borders-title{
  color: gold;
  text-align: center;
  font-size: 50px;
}
.border-1{
  height: 200px;
  width: 200px;
  border: 5px ridge chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}
.border-2{
  height: 200px;
  width: 200px;
  border: 5px dashed chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}
.border-3{
  height: 200px;
  width: 200px;
  border: 5px dotted chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}
.border-4{
  height: 200px;
  width: 200px;
  border: 5px double chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}
.border-5{
  height: 200px;
  width: 200px;
  border-top: 5px double chartreuse;
  border-bottom: 5px dotted chartreuse;
  border-left: 5px dashed chartreuse;
  border-right: 5px ridge chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}


/* BACKGROUND IMAGE */
.bg-image{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey);
  background-image: url(./assets/img/bgImage.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}
.bg-image h1{
  position: relative;
  top: 320px;
  text-align: center;
  color: gold;
  font-size: 50px;
}

/* MARGIN AND PADDING */
.marginAndPadding{
  height: 650px;
  width: 100%;
  background: linear-gradient(grey, black);
}
.marginAndPadding h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}

#sampleBox1{
  height: 200px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 12px;
  border: 5px ridge chartreuse;
  color: white;
  text-align: center;
  font-size: 16px;
}
#sampleBox2{
  height: 200px;
  width: 200px;
  margin-left: 100px;
  padding-top: 70px;
  border: 5px ridge crimson;
  color: white;
  text-align: center;
  font-size: 16px;
}


.positioning{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey);
}
.positioning h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}
.positioning div{
  display:grid;
  float: left;
  margin-top: 180px;
  margin-left: 45px;
}

.box-relative{
  position: relative;
  left: 200px;
  height: 200px;
  width: 200px;
  border: 5px ridge cornflowerblue;
  color: white;
  text-align: center;
  font-size: 20px;
}
.box-absolute{
  position: absolute;
  top: 704vh;
  left: 475px;
  height: 200px;
  width: 200px;
  border: 5px ridge chartreuse;
  color: white;
  text-align: center;
  font-size: 20px;
}

.box-sticky{
  position: sticky;
  top: 0px;
  bottom: 0px;
  left: 800px;
  height: 200px;
  width: 200px;
  border: 5px ridge yellow;
  color: white;
  text-align: center;
  font-size: 20px;
}

/* PSUEDO CLASS */
.psuedo{
  height: 650px;
  width: 100%;
  background: linear-gradient(grey, black); 
}
.psuedo h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}
.psuedo a{
  position: relative;
  top: 100px;
  left: 363px;
  font-size: 80px;
}
.psuedo a:link{
  color: springgreen;
}
.psuedo a:visited{
  color:darkorchid;
}
.psuedo a:hover{
  color: chartreuse;
}
.psuedo a:active{
  color: crimson;
}

.psuedo button{
  position: relative;
  top: 300px;
  right: 65px;
  height: 70px;
  width: 300px;
  font-size: 40px;
  background-color: steelblue;
  color: white;
}
.psuedo button:hover{
  background-color: crimson;
  color:gold;
}
.psuedo button:active{
  background-color: darkgrey;
  color:white;
}

/* TEXT AND BOX SHADOWS */
.shadows{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey); 
}
.shadows h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}
#sample-text{
position: relative;
top: 250px;
left: 350px;
width: 260px;
color: lawngreen;
font-size: 100px;
text-shadow: 0px 0px 5px darkred, 0px -5px 5px white;
}

#shadowBox{
  height: 250px;
  width: 300px;
  border: 15px black double;
  position: relative;
  top: 35px;
  left: 700px;
  background-color: burlywood;
}
#shadowBox:hover{
  box-shadow: 10px 15px 10px dodgerblue;
}

.shadows h2{
  font-size: 50px;
  color: crimson;
}

/* TRANSFORMATION */

.transform{
  height: 650px;
  width: 100%;
  background: linear-gradient(grey, black); 
}
.transform h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}

.transform div{
  height: 200px;
  width: 200px;
  border: 5px crimson dotted;
  top: 100px;
}
#translate{
  position: relative;
  transform: translate(250px, 0px);
  font-size: 30px;
  text-align: center;
  color: darkslateblue;
  background-color:burlywood;
}
#rotate{
  position: relative;
  top: -100px;
  left: 530px;
  font-size: 30px;
  text-align: center;
  color: darkslateblue;
  transform: rotateZ(180deg);
  background-color:burlywood;
}
#skew{
  position: relative;
  top: -300px;
  left: 820px;
  font-size: 30px;
  text-align: center;
  color: darkslateblue;
  transform: skew(20deg, 20deg);
  background-color:burlywood;
}

/* ANIMATIONS */

.animation{
  height: 650px;
  width: 100%;
  background: linear-gradient(black, grey); 
}
.animation h1{
  position: relative;
  text-align: center;
  color: gold;
  top: 50px;
  font-size: 50px;
}
.run{
  height: 200px;
  width: 98%;
  position: relative;
  margin-top: 80px;
}
.run video{
  position: relative;
  top: -25px;
  left: 20px;
  border-radius: 300px;
  height: 200px;
  width: 200px;
}

@keyframes runPika {
  from{
    margin-left: 0%;
  }
  to{
    margin-left: 100%;
  }
}
.run video:active{
  animation: runPika;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


.rotateAnimation{
  height: 200px;
  width: 98%;
}
.rotateAnimation img{
  position: relative;
  top: 50px;
  left: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

@keyframes myRotate {
  from{
    transform: rotateZ(180deg);
    margin-left: 0%;
  }
  to{
    margin-left: 100%;
  }
}

.rotateAnimation img:active{
  animation-name: myRotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.home{
  height: 150px;
  width: 100%;
  background: linear-gradient(grey, black);
}
.home button{
  position: relative;
  top: 50px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  border-radius: 10px;
  color: gold;
  background:linear-gradient(darkslategrey, rgb(78, 74, 74));
}
#instruction{
  position: relative;
  text-align: center;
  color: white;
  top: -10px;
  left: 380px;
  width: 500px;
  font-size: 30px;

  animation-name: mycolorChange;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes mycolorChange {
  20%{color:crimson;}
  40%{color:orange ;}
  60%{color:chartreuse ;}
  80%{color:darkblue ;}
  100%{color: palevioletred;}
}